<!DOCTYPE html>
<html lang="en">
<!-- This is the head its what tells our browser a little info it can also have some meta -->
<head>
    <meta charset="utf-8">
    <title>Hello this is raw </title>
    
</head>
<!-- This is our body it's what we want the browser to render -->
<body>
    <h1>Hello</h1>
    <h2>This is a t</h2>


</body>
<!--This is the footer it tells our browser what we want at the end of web page-->
<footer>
   

</footer>
</html>